<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
  <div class="nav">
      <ul>
          <li><a [routerLink] = "['/private/profile']">Home</a></li>
          <li><a>Appointments</a></li>
          <div *ngIf = "!theActualUser.service" id="search">
          <li><a [routerLink]= "['/private/profile/search']">Search</a></li>
        </div>
        <li><a href="" ng-click="logout()" target="_self">Log Out</a></li>

        </ul>
  </div>
    <h1><span>fully</span><span id="booked">Booked</span></h1>
  
    <form (submit)= "editUser()">
      <div class="service-form">
          <h3>Edit Profile Info</h3>
          <div class="edit-info">
          <span>Name</span><br>
          <input type="text" [(ngModel)]= "theActualUser.name" name= "user" placeholder= "name">
          <!-- <i class="fa fa-user-circle" id="icon-name" aria-hidden="true"></i> -->
          <br>
          <span>Email</span><br>
          <input type="text" [(ngModel)]= "theActualUser.email" name= "user"  placeholder= "email">
          <!-- <i class="fa fa-envelope" id="icon-email"  aria-hidden="true"></i> -->
          <br>
          <div class= "service-dropdown">
              <span>Location:</span><br>
              <select class="select" [(ngModel)]= "theActualUser.location" name="blah" title="Choose City">
                <option value= "Boca Raton">Boca Raton</option>
                <option value= "Coral Gables">Coral Gables</option>
                <option value= "Coral Springs">Coral Springs</option>
                <option value= "Davie">Davie</option>
                <option value= "Fort Lauderdale">Fort Lauderdale</option>
                <option value= "Hialeah">Hialeah</option>
                <option value= "Hollywood">Hollywood</option>
                <option value= "Lauderhill">Lauderhill</option>
                <option value= "Miami">Miami</option>
                <option value= "Miramar">Miramar</option>
                <option value= "Opa-locka">Opa-Locka</option>
                <option value= "Pembroke Pines">Pembroke Pines</option>
                <option value= "Plantation">Plantation</option>
                <option value= "Pompano">Pompano</option>
                <option value= "Tamarac">Tamarac</option>
                <option value= "West Palm Beach">West Palm Beach</option>
                <option value= "Weston">Weston</option>
              </select>
          </div>
          <br>
          <!-- <input type="text" name="user" placeholder="imageURL">
          <i class="fa fa-file-image-o" id="icon-image" aria-hidden="true"></i>
          <br> -->
          <span>Username:</span><br>
          <input type="text" [(ngModel)]= "theActualUser.username" name="user"  placeholder="username">
          <!-- <i class="fa fa-user" id="icon-username" aria-hidden="true"></i> -->
          <br>
          <span id="description">Description:</span><br>
          <textarea name="description" maxlength="185" [(ngModel)]= "theActualUser.description" placeholder="Brief description of yourself. *185 characters or less." id="" cols="30" rows="6"></textarea>
        </div>
          <div class="social-media">
            <span>Instagram:</span><br>
            <input type="text" name= "instagram" [(ngModel)]= "theActualUser.instagram" placeholder= "instagram URL">
            <br>
            <span>Twitter:</span><br>
            <input type="text" name= "twitter" [(ngModel)]= "theActualUser.twitter" placeholder= "twitter URL">
            <br>
            <span>LinkedIn:</span><br>
            <input type="text" name= "linkedin" [(ngModel)]= "theActualUser.linkedin" placeholder= "linkedIn URL">
            <br>
         </div>
         <button>Submit</button>
        </div>
  
  </form>
</body>
</html>



