<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

    <div class="nav">
        <ul>
            <li><a [routerLink]= "['/private/profile']">Home</a></li>
            <li><a>Appointments</a></li>
          <li><a [routerLink]= "['/private/profile/search']">Search</a></li>
          <li><a [routerLink]= "['']">Logout</a></li>

        </ul>
      </div>
        <h1><span>fully</span><span id="booked">Booked</span></h1>

        <h2>Find Your Freelancer</h2>
        <div class="search-area">
          <div class= "service-dropdown">
            <span>Choose Category: </span>
              <select (change) = "searchUsers($event)" [(ngModel)]= "theSearchedCategory" class="select" name= "category" title="Category">
                <option selected hidden>Choose Category</option>
                <option value= "Accounting">Accounting</option>
                <option value= "Acting">Acting</option>
                <option value= "Advertising">Advertising</option>
                <option value= "Audio Production">Audio Production</option>
                <option value= "Ausiness Writing">Business Writing</option>
                <option value= "Cooking">Cooking</option>
                <option value= "Computer Programming">Computer Programming</option>
                <option value= "Creative Writing">Creative Writing</option>
                <option value= "Dog Training">Dog Training</option>
                <option value= "Drawing">Drawing</option>
                <option value= "E-commerce">E-Commerce</option>
                <option value= "Engineering">Engineering</option>
                <option value= "Event Planning">Event Planning</option>
                <option value= "Fashion Design">Fashion Design</option>
                <option value= "Fitness Trainer">Fitness Trainer</option>
                <option value= "Graphic Design">Graphic Design</option>
                <option value= "Home Cleaning">Home Cleaning</option>
                <option value= "Interior Design">Interior Design</option>
                <option value= "Law">Law</option>
                <option value= "Makeup Artist">Makeup Artist</option>
                <option value= "Mechanic">Mechanic</option>
                <option value= "Musical Instruments">Musical Instruments</option>
                <option value= "Nuntritionist">Nutritionist</option>
                <option value= "Singing">Singing</option>
                <option value= "Photography">Photography</option>
                <option value= "Tutoring">Tutoring</option>
                <option value= "Video Production">Video Production</option>
                <option value= "Web Design">Web Design</option>
              </select>
          </div> 
        </div>
      
      
      <div *ngIf = "filteredArray.length > 0" class="users-section">
       <div class="user-body">
        <div *ngFor = "let oneUser of filteredArray" class="users">
          <div class="users-info">
            
            <img [src]="['https://graceumcseattle.org/wp-content/uploads/2016/12/headshot-400.png']" alt="">
            <h4>{{oneUser.name}}</h4>
            <p>{{oneUser.location}}</p>

        </div>
        </div>
      </div>
      </div>

      <div *ngIf = "filteredArray.length < 1" class="users-section">
          <div class="user-body">
           <div *ngFor = "let oneUser of arrayOfUsers" class="users">
             <div class="users-info">
                <img [src]="['https://graceumcseattle.org/wp-content/uploads/2016/12/headshot-400.png']" alt="">
               <h4>{{oneUser.name}}</h4>
               <p>{{oneUser.location}}</p>
               <a [routerLink]= "['/private/profile/', oneUser._id]">View Profile</a>
           </div>
           </div>
         </div>
        </div>

</body>
</html>
