<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class= "background">
<!-- <div class="logo"> -->
  <h1><span>fully</span><span id="booked">Booked</span></h1>

  <div class= "dots">
      <span class="black dot"></span>
    <span class="blue dot"></span>
    <span class="green dot"></span>
    <span class="white dot"></span>
</div>
<!-- </div>  -->
  <!-- <div *ngFor = "let oneLocation of arrayOfLocations">
      {{oneLocation.location}}
    </div>  -->

    
<div class="login-form">
  <h2>Sign Up</h2>
    <br>
    <form (submit)="tryToSignUp()">
      <input type="text" [(ngModel)]= "signUpUser.name" name= "user" placeholder= "name">
        <br>
      <input type="text" [(ngModel)]= "signUpUser.email" name= "user" placeholder= "email">
        <br>
        <div class= "service-dropdown">
          <label>Choose Location</label>
            <select [(ngModel)]= "signUpUser.location" name="drop" class="select" title="Choose City">
            <option selected hidden>Choose Location</option>
              <option value= "Boca Raton">Boca Raton</option>
              <option value= "Coral Gables">Coral Gables</option>
              <option value= "Coral Springs">Coral Springs</option>
              <option value= "Davie">Davie</option>
              <option value= "Fort Lauderdale">Fort Lauderdale</option>
              <option value= "Hialeah">Hialeah</option>
              <option value= "Hollywood">Hollywood</option>
              <option value= "Lauderhill">Lauderhill</option>
              <option value= "Miami">Miami</option>
              <option value= "Miramar">Miramar</option>
              <option value= "Opa-Locka">Opa-Locka</option>
              <option value= "Pembroke Pines">Pembroke Pines</option>
              <option value= "Plantation">Plantation</option>
              <option value= "Pompano">Pompano</option>
              <option value= "Tamarac">Tamarac</option>
              <option value= "West Palm Beach">West Palm Beach</option>
              <option value= "Weston">Weston</option>
            </select>
        </div>
        <br>
      <input type="text" name="user" placeholder="imageURL">
        <br>
 
      <input type="text" [(ngModel)]="signUpUser.username" name="user" placeholder="username">
        <br>
      <input type="password" [(ngModel)]="signUpUser.password" name="user" placeholder="password">
        <br>
        <div class="service-opt">
          <p>Are you a freelancer?</p> 
          <br>
          <input type="radio" [(ngModel)]= "signUpUser.service" name="joke" value="true" id= "yes"/> <article>Yes</article>
          <input type="radio" [(ngModel)]= "signUpUser.service" name="joke" value="false" id= "no"/> <article>No</article>
        </div>
        <div class="disclaimer-div">
        <span id="disclaimer">* If you choose to be a mentor, you are providing a service to other users. 
        Some services include tutoring, personal training, piano lessons, etc.</span>
        </div>
        <button>SIGN UP</button>
    </form>
</div>


<div *ngIf= "theError">{{theError}}</div>

</div>
</body>
</html>