<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="nav">
    <ul>
      <li><a [routerLink] = "['/private/profile']">Home</a></li>
      <li><a>Appointments</a></li>
      <li><a [routerLink] = "['']">Logout</a></li>
    </ul>
  </div>
    <h1><span>fully</span><span id="booked">Booked</span></h1>
  <form (submit)= "newServiceEntry()">
      <div class="service-form">
          <h3>Create Service</h3>
          <div class= "service-dropdown">
            <label>Choose Category</label>
              <select class="select" [(ngModel)]= "newServiceInfo.category" name= "category" title="Category">
                <option value= "Accounting">Accounting</option>
                <option value= "Acting">Acting</option>
                <option value= "Advertising">Advertising</option>
                <option value= "Audio Production">Audio Production</option>
                <option value= "Business Writing">Business Writing</option>
                <option value= "Cooking">Cooking</option>
                <option value= "Computer Programming">Computer Programming</option>
                <option value= "Creative Writing">Creative Writing</option>
                <option value= "Dog Training">Dog Training</option>
                <option value= "Drawing">Drawing</option>
                <option value= "E-commerce">E-Commerce</option>
                <option value= "Engineering">Engineering</option>
                <option value= "Event Planning">Event Planning</option>
                <option value= "Fashion Design">Fashion Design</option>
                <option value= "Fitness Trainer">Fitness Trainer</option>
                <option value= "Graphic Design">Graphic Design</option>
                <option value= "Home Cleaning">Home Cleaning</option>
                <option value= "Interior Design">Interior Design</option>
                <option value= "Law">Law</option>
                <option value= "Makeup Artist">Makeup Artist</option>
                <option value= "Mechanic">Mechanic</option>
                <option value= "Musical Instruments">Musical Instruments</option>
                <option value= "Nuntritionist">Nutritionist</option>
                <option value= "Singing">Singing</option>
                <option value= "Photography">Photography</option>
                <option value= "Tutoring">Tutoring</option>
                <option value= "Video Production">Video Production</option>
                <option value= "Web Design">Web Design</option>
              </select>
          </div> 
          <br>
          <textarea cols= "39" rows="5" name="name" [(ngModel)]="newServiceInfo.description" placeholder="description"></textarea>
          <br> 
          <input name="name" [(ngModel)]="newServiceInfo.pricing" placeholder="hourly pricing">
          <br> 
          <button>Create</button>
        </div>
  
  </form>
</body>
</html>
